body {

    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

.titulo{
    font-size: 3em;
    color: rgb(24, 23, 23);
    font-family: 'Arial', sans-serif;
}

#principal{
    font-size: 4em;
}

.logo{
    width: 200px;
    height: 200px;
}

.card{
    border: 2px solid black;
    width: fit-content;
    padding: 1em 1em 2em 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}
.card:hover{
    background-color: rgb(158, 26, 26);
}
p{
    color: darkblue;
}
.lista{
    padding: 2em;
}

#titulos{
    width: 60vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    color: rgb(45, 45, 45);
}

#cards-contenedor{
    background-color: rgb(165, 164, 164);
    width: 85vw;
    margin: auto;
    margin-top: 2em;
    border: 5px solid rgb(68, 68, 68);
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* width es para decir el ancho de la pantalla
   margin: auto; para centrarlo
   margin-top: 2em para que se despegue de arriba
   border es para ponerle un borde de color 
   border-radius es para poder redondear las puntas
   padding hace que el contenido se despegue don contenedor
   AHORA: display: flex; es para comenzar a posicionar los elementos que estan dentro del contenedor. Esto hace que de ahora en más el contenedor siga lo "logica de Flex" y automaticamente pone los objetos en horozontal.
   Pero si le queremos poner dirección por las dudas, le tenemos que poner: 
   flex-direction: row;
   justify-content: space-between; es para separar de los costados y entre si los elementos/*

/* idealmente sería bueno ir acomodando todos los bloque por algun orden, para no perdernos en el código /*